<ul>
    <li><a href="/profile/dashboard">Order Dahboard</a></li>
    <li><a href="/profile/product/return/dashboard">Return Product Dashboard</a></li>
    <li><a href="/profile/return/cart/dashboard">Return Product Cart</a></li>
    <li><a href="/profile/upload/prescription">Prescription Upload</a></li>
    <li><a href="/ticket/dashboard">Tickets</a></li>
    <li><a href="/profile/address">Address Book</a></li>
    <li><a href="/profile/settings">Settings</a></li>
</ul>