
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/img/" method="post" enctype="multipart/form-data">
            <input type="file" name="fileAbsolute" value="" />
            <input type="submit" name="submit" value="submit" />
        </form>
    </div>
</body>
</html>
