<script>
    var i = 1;
    function addTitle() {

        var title = document.createElement("input");
        title.setAttribute("type", "text");
        title.setAttribute("name", "title"+i);
        title.setAttribute("placeholder", "title");
        var foo = document.getElementById("fooBar");
        foo.appendChild(title);

        var price = document.createElement("input");
        price.setAttribute("type", "text");
        price.setAttribute("name", "price"+i);
        price.setAttribute("placeholder", "price");
        var foo = document.getElementById("fooBar");
        foo.appendChild(price)
        i++;
    }

</script>
<form>
    <p id="fooBar">&nbsp;<br /></p>
    <input type="button" value="add" onclick="addTitle()" />
    <input type="submit" />
</form>
