@model ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Contact Page -->
<div class="contact_page_area fix">
    <div class="container">
        <div class="row">
         

            <div class="contact_info col-lg-12 col-md-12 col-xs-12">
                <h3>Contact Info</h3>
                <p class="subtitle">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <div class="single_info">
                    <div class="con_icon"><i class="fa fa-map-marker"></i></div>
                    <p>Dhaka-1212 <br /> Bangladesh </p>
                </div>
                <div class="single_info">
                    <div class="con_icon"><i class="fa fa-phone"></i></div>
                    <p>Phone : +12345678</p>
                </div>
                <div class="single_info">
                    <div class="con_icon"><i class="fa fa-envelope"></i></div>
                    <a href="#">support@websolutionformodelpharmacies.com </a> <br />
                </div>

            </div>
        </div>
    </div>


    <div class="fix">
        <div id="contact_map_area"></div>
    </div>

</div>


